.quote-container {
  display: flex;
  user-select: none;
}

.quotes {
  width: 60%;
  border: 2px solid black;
}

.quote-form {
  width: 35%;
  height: 500px;
  border: 2px solid black;
  margin: 0 50px;
  background-color: #d3d3d3;
}

.upvotes,
.downvotes {
  cursor: pointer;
}

.upvotes span,
.downvotes span {
  user-select: none;
}

.svgQuotes {
  width: 30px;
  height: 30px;
}

li {
  list-style: none;
}

.container {
  width: 80%;
}

.item {
  margin: 20px 0 30px 0;
}
