.quote-container {
  display: flex;
  user-select: none;
}

h1 {
  text-align: center;
}
.quotes {
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.card {
  background: none;
  border: none;
  outline: none;
  color: #555;
  padding: 20px 10px 20px 20px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.quote-form {
  padding: 20px;
  width: 40%;
  height: 93vh;
  margin: 0 100px;
  border-radius: 40px;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.upvotes,
.downvotes {
  cursor: pointer;
}

.upvotes span,
.downvotes span {
  user-select: none;
}

.svgQuotes {
  width: 30px;
  height: 30px;
}

li {
  list-style: none;
}

.container {
  width: 80%;
}

.item {
  margin: 20px 0 30px 0;
}
