.quote-container {
  display: flex;
}

.quotes {
  width: 60%;
  border: 2px solid black;
}

.quote-form {
  width: 35%;
  height: 500px;
  border: 2px solid black;
  margin: 0 50px;
  background-color: #d3d3d3;
}

.upvotes,
.downvotes {
  cursor: pointer;
}
