<div class="container-fluid forms">
  <h2 class="text-center">Add Your Quotes Here</h2>
  <hr />
  <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <label for="publisher">Publisher</label>
    <input
      type="text"
      class="form-control"
      id="publisher"
      name="publisher"
      ngModel
      required
    />

    <label for="description">Quote</label>
    <textarea
      class="form-control"
      id="description"
      rows="4"
      name="description"
      ngModel
      required
    ></textarea>
    <label for="author">Author</label>
    <input
      type="text"
      required
      class="form-control"
      id="author"
      name="author"
      ngModel
      required
    />

    <br /><button
      type="submit"
      class="btn btn-success"
      [disabled]="!myForm.valid"
    >
      Publish
    </button>
  </form>
</div>
